/* for tablets width = 800px */

@media only screen and (max-width: 800px) {

    /*********************************************************************/
    /*********************************************************************/
    /***************************** admin_home ****************************/
    /*********************************************************************/
    /*********************************************************************/

    /* basic info */

    .basic_info{
        width:95vw;
        margin:auto;
    }

    .basic_info_section{
        grid-template-columns:  1fr;
    }

    /* client confidentiality */

    .client_confidentiality{
        width:90vw;
        margin:auto;
    }

    /* client issues */

    .issues_template{
        grid-template-columns: 1fr;
    }

    /*********************************************************************/
    /*********************************************************************/
    /***************************** admin_blog ****************************/
    /*********************************************************************/
    /*********************************************************************/
















    



}

  /* for mobile width = 500px */
  @media only screen and (max-width: 500px) {
  }
  