/* articles slider */

.blogs_carousel {
  width: 75vw;
  margin: auto;
  overflow-y: hidden;
  position: relative;
  transition: 300ms ease;
}

.owl-carousel {
  height: 280px;
  overflow-y: hidden;
}

.section_title {
  color: #358ffc;
  margin-top: 7rem;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: end;
  transition: 300ms ease-in;
}

.section_title::after {
  content: "";
  display: block;
  background-image: linear-gradient(
    to right,
    #3b3838,
    #3b3838,
    #3b3838,
    #358ffc
  );
  padding: 0.1rem;
  /*box-shadow: 0px 0px 15px 1px #3B3838a5;*/
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 100px;
}

/*.blogs_carousel::after{
    content:"";
    display:block;
    background-image: linear-gradient(to right, #000, #000, #358ffc, #358ffc);  
    padding:.1rem;
    box-shadow: 0px 0px 10px 1px #3B3838a5;
    overflow-y: hidden;
    border-radius: 100px;
    margin-bottom: 1rem;
}*/

.item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
  padding: 1rem;
  overflow-y: hidden;
}

.item img {
  border-radius: 15px;
  overflow-y: hidden;
}

.highlights {
  display: grid;
  grid-gap: 1rem;
  text-align: justify;
  align-self: center;
  overflow-y: hidden;
}

.highlights h1 {
  font-size: 1.2rem;
  overflow-y: hidden;
}

.highlights p {
  line-height: 1.5rem;
  overflow-y: hidden;
}

.blog_post_date {
  font-size: 0.8rem;
}

.owl-nav {
  position: absolute;
  top: 0px;
  right: 0;
}

.nav_slider {
  font-size: 1.2rem;
  color: #000;
}

.nav_slider:hover {
  color: #358ffc;
}

.read_my::before {
  content: "Read My ";
  position: absolute;
  left: -100vw;
  transition: 1000ms ease;
}

.blogs_carousel:hover .read_my::before {
  content: "Read My ";
  color: #3b3838;
  left: calc(75vw - 14.2rem);
  transition: 1000ms ease;
}

/* services */

.services {
  width: 75vw;
  margin: auto;
  position: relative;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin-top: 1.5rem;
}

.card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
}

.card img {
  background-color: #eeefff;
  justify-self: right;
  border-radius: 100%;
  z-index: 10;
  transition: 300ms ease-in;
}

.card_text {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  align-self: center;
  justify-self: left;
  background-color: #eeefff;
  padding: 1.5rem;
  border-radius: 15px;
  transition: 300ms ease-in;
}

.card:hover .card_text {
  box-shadow: 0px 0px 10px 1px #dddddda5;
  transition: 300ms ease-in;
}

.card_text h1 {
  font-size: 1rem;
  border-bottom: 1px solid #000;
}

.know_about::before {
  content: "Know About ";
  position: absolute;
  left: -100vw;
  transition: 1000ms ease;
}

.services:hover .know_about::before {
  content: "Know About ";
  color: #3b3838;
  left: calc(75vw - 14.5rem);
  transition: 1000ms ease;
}

/* projects */

.projects {
  width: 75vw;
  margin: auto;
  position: relative;
}

.project_slider {
  height: 360px;
}

.project_item {
  display: grid;
  grid-template-columns: 450px 2fr;
  width: calc(75vw - 2rem);
  overflow-x: hidden;
}

.project_slider img {
  border-radius: 0px;
}

.project_slider p {
  text-align: justify;
}

.project_text {
  padding: 1rem;
  display: grid;
  align-self: center;
  grid-gap: 1rem;
}

.view_my::before {
  content: "View ";
  position: absolute;
  left: -100vw;
  transition: 1000ms ease;
}

.projects:hover .view_my::before {
  content: "View ";
  color: #3b3838;
  left: calc(75vw - 10rem);
  transition: 1000ms ease;
}

/* technologies */
.technologies {
  width: 75vw;
  margin: auto;
  position: relative;
}

.tech_cards {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1rem;
  align-self: center;
  overflow-y: hidden;
}

.tech_card {
  padding: 1rem;
  overflow-y: hidden;
}

.tech_text {
  text-align: center;
  font-size: 1rem;
}

.tech_card:hover {
  box-shadow: 1px 1px 15px 0px #dddddda5;
  cursor: pointer;
}

.used::before {
  content: "Most Used ";
  position: absolute;
  left: -100vw;
  transition: 1000ms ease;
}

.technologies:hover .used::before {
  content: "Most Used ";
  color: #3b3838;
  left: calc(75vw - 14.1rem);
  transition: 1000ms ease;
}

/* order custom */
.order_custom {
  width: 75vw;
  margin: auto;
  position: relative;
}

.order {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 1rem;
}

.order_text {
  padding: 1rem;
  align-self: center;
}

.order_text h1 {
  font-size: 1rem;
  padding: 1rem 0rem;
  text-align: right;
}

.order_text h1::before {
  display: inline-block;
  content: "";
  padding: 12px 12px;
  margin-right: 0.2rem;
  border-radius: 50px;
  box-shadow: 15px -15px 0px -5px #358ffc;
  background-color: coral;
}

.order_text p {
  font-size: 1rem;
  text-align: justify;
}

.order_form {
  display: grid;
  grid-template-columns: 1fr 30px;
  margin-top: 1rem;
  grid-gap: 0.5rem;
  z-index: 50;
}

.form_fills_all {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  padding: 1.5rem;
  background-color: #eeefff;
  border-radius: 20px;
}

.form_fills {
  display: grid;
  grid-template-columns: 1fr;
}

.form_fills:nth-child(2) {
  width: calc(30vw - 3rem);
}

.form_fills:nth-child(3) {
  width: calc(30vw - 3rem);
}

.order_form_btn {
  background-color: #fec99b;
  position: absolute;
  padding: 28.8px 32px;
  border-radius: 100px;
  bottom: calc(25% - 8px);
  right: 0;
  border: 10px solid #fff;
  cursor: pointer;
  transition: 300ms ease-in;
}

.order_form_btn:hover {
  background-color: coral;
  transition: 300ms ease-in;
}

.point_order_btn {
  color: #fff;
  font-size: 32px;
}

.place_a::before {
  content: "Place Your ";
  position: absolute;
  left: -100vw;
  transition: 1000ms ease;
}

.order_custom:hover .place_a::before {
  content: "Place Your ";
  color: #3b3838;
  left: calc(75vw - 14.4rem);
  transition: 1000ms ease;
}
