/* form */

.admin_login{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:8px;
    width:400px;
    margin:auto;
    align-self: center;
    margin-top:25vh;
}

.field{
    display:grid;
    grid-gap:4px;
    align-self: center;
    background-color: #eeefff;
    padding: 16px;
}

.field_1{
    border-radius: 10px 10px 0px 0px;
}

.field_3{
    border-radius: 0px 0px 0px 10px;
}

.admin_form_btn{
    border-radius: 0px 0px 10px 0px;
    padding:20px 24px;
}

.log_in{
    font-size: 3rem;
    color:#fff;
}

.bottom_sec{
    display:grid;
    grid-template-columns: 1fr 100px;
    grid-gap:8px;
}

.form{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:8px;
}

.otp{
    width:100%;
    padding:16px;
    font-weight: bold;
    font-size: 2rem;
}
